section.contact-hero {
  display: flex;
  gap: 80px;
  padding: 80px 6.94% 60px 6.94%;
}

section.contact-hero .row-2 img {
  width: 100%;
}

.contact-hero__profile {
  width: 77px;
  height: 77px;
  border-radius: 50%;
  background-color: #f5f3da;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2.contact-hero__title {
  font-size: 45px;
  line-height: 76px;
  font-weight: 600;
  margin-bottom: 16px;
}

.contact-hero__desc {
  font-size: 20px;
  line-height: 37px;
  color: var(--font);
}

.list-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6.94%;
  margin-bottom: 75px;
  height: 100px;
}

.social {
  flex: 1;
  height: 100%;
  color: #333333;
  padding: 0 16px;
}

.social--title {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 16px;
}

.number {
  flex: 1;
  border-left: 1px solid #c2c2c2;
  border-right: 1px solid #c2c2c2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 0 16px;
  height: 100%;
  color: #333333;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}

.social__phone {
  width: 32px;
  height: auto;
  color: #333333;
}

.location {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  height: 100%;
  padding: 0 16px;
  color: #333333;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}

.social__location {
  min-width: 32px;
  max-width: 32px;
  height: auto;
  color: #333333;
}

@media screen and (max-width: 800px) {
  .list-contact {
    align-items: flex-start;
  }

  .location {
    font-size: 2vw;
  }
}

@media screen and (max-width: 678px) {
  section.contact-hero {
    flex-direction: column;
  }
  .list-contact {
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
    row-gap: 32px;
  }

  .social {
    order: 3;
  }

  .number {
    order: 1;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: none;
    border: none;
  }

  .location {
    order: 2;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: none;
    font-size: 20px;
  }
}
