.cards {
  display: flex;
  gap: 50px;
  padding: 0 6.94%;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 36px;
  padding: 64px 48px;
  border-radius: 20px;
  background-color: #f9f9f9;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, .15);
  transition: all .3s;
}

.card__title {
  font-size: 25px;
  line-height: 42px;
  font-weight: 600;
  color: #252525;
  text-align: center;
}

.card__span {
  font-size: 16px;
  line-height: 27px;
  color: var(--font);
  text-align: center;
}

.card__button {
  width: fit-content;
  padding: 12px 36px;
  font-size: 16px;
  line-height: 27px;
  font-weight: 500;
  color: #FFFFFF;
  text-align: center;
  border-radius: 10px;
  background-color: var(--accent);
  border: none;
  cursor: pointer;
  transition: all .3s;
}

.card:hover {
  background-color: var(--accent);
}

.card:hover .card__title {
  color: #FFFFFF;
}

.card:hover .card__span {
  color: #FFFFFF;
}

.card:hover .card__button {
  background-color: #FFFFFF;
  color: #252525;
}

.card__button:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 900px) {
  .card {
    padding: 48px 32px;
    gap: 24px;
  }
}

@media screen and (max-width: 677px) {
.cards {
  flex-direction: column;
}

}