.company {
  padding: 87px 6.94%;
}

h3.company__title {
  font-size: 24px;
  line-height: 38px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 16px;
}

.company__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.company--image {
  width: 100%;
}

@media screen and (max-width: 678px) {
  .company {
    padding: 46px 6.94%;
  }
}