.home__body--text {
  margin-bottom: 90px;
  padding: 0 6.94%;
}

.home__body--text h3 {
  font-size: 32px;
  line-height: 52px;
  text-align: center;
  color: #252525;
  margin-bottom: 32px;
}

.home__body--text span {
  display: block;
  color: var(--font);
  font-size: 18px;
  line-height: 32px;
  max-width: 692px;
  text-align: center;
  margin-inline: auto;
}

@media screen and (max-width: 677px) {
  .home__body--text {
    margin-bottom: 50px;
  }

  .home__body--text h3 {
    font-size: 24px;
    line-height: 42px;
  }

  .home__body--text span {
    font-size: 14px;
    line-height: 24px;
  }
}
