.offers {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  align-items: center;
  padding: 42px 6.94%;
  margin-bottom: 100px;
}

.offer {
  display: flex;
  align-items: center;
  gap: 18px;
}

.offer__item--bg {
  width: 82px;
  height: 82px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offer--icon {
  width: 33px;
  height: auto;
}

.web {
  background-color: #EFEAFF;
  color: #4628A4;
}

.seo {
  background-color: #ECFFDA;
  color: #5FC300;
}

.vr {
  background-color: #DAE6FF;
  color: #00329B;
}

.mobile {
  background-color: #FFE5DA;
  color: #BB3800;
}

.offer__text {
  display: flex;
  flex-direction: column;
}

h3.offer__text--top {
  font-size: 24px;
  line-height: 35px;
  font-weight: 500;
  margin: 0;
}

.offer__text--bottom {
  color: var(--font);
  font-size: 15px;
  line-height: 26px;
}

@media screen and (max-width: 1112px) {
  .offers {
    flex-wrap: wrap;
  }

  .offer {
    flex-basis: calc(50% - 24px);
  }
}

@media screen and (max-width: 677px) {

  .offers {
    margin-bottom: 50px;
  }

  .offer {
    flex-basis: auto;
  }
}