section.about-section-1 {
  padding: 75px 6.94%;
}

h2.about-section-1__title {
  font-size: 45px;
  line-height: 72px;
  color: var(--accent);
  margin-bottom: 48px;
}

span.about-section-1__content {
  font-size: 20px;
  line-height: 40px;
  color: var(--font);
}

@media screen and (max-width: 678px) {
section.about-section-1 {
  padding: 34px 6.94%;
}
}