.team {
  margin: 75px 0 75px 6.94%;
}
.team__card {
  padding: 0 16px 8px;
}

.team__title {
  font-size: 24px;
  line-height: 42px;
  font-weight: 500;
  margin-bottom: 72px;
}

.team__profile {
  /* height: 280px; */
  aspect-ratio: 1 / 1;
  border-radius: 14px 14px 0 0;
  margin-bottom: 22px;
}

.team__position {
  display: block;
  font-size: 16px;
  line-height: 33px;
  letter-spacing: 1%;
  color: var(--font);
  margin-bottom: 8px;
}

.team__name {
  display: inline-block;
  font-size: 18px;
  line-height: 37px;
  letter-spacing: 1%;
}

.team__list {
  overflow: hidden;
}

.glider-dot.active {
  width: 30px;
  background-color: #6e00fa !important;
}

@media screen and (max-width: 768px) {
  .team__title {
    margin-bottom: 32px;
  }

  .team__profile {
    height: 40%;
  }
}

@media screen and (max-width: 678px) {
  .team__title {
    margin-bottom: 32px;
  }

  .team__profile {
    height: 40%;
  }
}
